* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
}
button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    font-size: 18px;
    border-radius: 10px;
    width: 90px;
    height: auto;
}
/*this is the header style*/
.first-section{
    background-color: #1F2937;
    padding-bottom: 25px;
}
.HeaderLogo{
    font-size: 24px;
    color: #F9FAF8;
}
.header{
    padding: 16px;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 350px;
}
.links{
    gap: 16px;
}
a{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
}
.head2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.headsub{
    width: 350px;
}
.HeroMainText{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
    padding: 0px;
}
.HeroSecondaryText{
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 0px;
}
/*this is the information style*/
.infohead{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
}
.imagecontainer{
    display: flex;
    justify-content: center;
    gap: 52px;
}
.content{
    width: 200px;
    height: 200px;
}
.imageinfo{
    font-size: 18px;
    color: grey;
    width: 200px;
}
/*this is the quote style*/
.quote{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.quotecontainer{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cliche{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.person{
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
}
/*this is the call to action style*/
.container{
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.bottomcard{
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    padding: 25px;
    border-radius: 12px;
    gap: 200px;
}
.Call{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    margin-bottom: 0px;
}
.sometext{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    margin-top: 0px;
}
#bottom{
    max-width: 90px;
    height: 30px;
    align-self: center;
}
/*in case it isn't obvious its the footer style :D*/
.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
}
#footlink{
    font-size: 14px;
    color: #F9FAF8;
}